body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.navBar{
  justify-content: space-evenly;
display: flex;
padding: var(--base-size-16, var(--base-size-16));
padding-top: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;
padding-left: 1rem;
gap: var(--base-size-12, 12px);
row-gap: 0.75rem;
column-gap: 0.75rem;
background-color: crimson;
font-size: x-large;
}

a {
  color: black;

}
.bookCatalog, h1 {
 
 padding-top:1px ;
 justify-items: center;
  background-color: crimson;
}

div#container {
  
  background-color: cornsilk;
  justify-self: center;
  padding-block: 100px;
  padding-left: 1000px;
  padding-right: 1000px;
  
  
  
 
  
}

p1 {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
}


form {
  justify-self: center;
  text-align: right;
  height: 300px;
  font-size: x-large;
}

.loginForm {
  font-size: x-large;
  padding: 30px;
  text-align:right;
  
}



/* Add your own custom styles here */