body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.navBar{
display: flex;
padding: var(--base-size-16, var(--base-size-16));
padding-top: 1rem;
padding-right: 1rem;
padding-bottom: 1rem;
padding-left: 1rem;
gap: var(--base-size-12, 12px);
row-gap: 0.75rem;
column-gap: 0.75rem;
background-color: crimson;
font-size: x-large;
}

a {
  color: black;
}
.bookCatalog {
  
}

/* Add your own custom styles here */